.user_drop_down_actions {
    position: absolute;
    top: calc(100% + 39px);
    right: 0;
    width: 230px;
            

    &.active{
        display: block;
    }

    ul {
        display: grid;
        gap: 24px;

        li {
            a {
                display: flex;
                gap: 16px;
                align-items: flex-start;

                &:hover{
                    .content{
                        h4,p{
                            color: var(--primary);
                        }
                    }
                }

                // .icon {}

                .content {

                    h4 {
                        font-size: 18px;
                        margin: 0;
                        margin-bottom: 9px;
                        line-height: 18px;
                        font-weight: 300;

                        &.block {
                            color: var(--primary);
                        }
                    }

                    p {
                        margin: 0;
                        font-size: 14px;
                        line-height: 14px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}