@font-face {
  font-family: "inter-regular";
  src: url("../fonts/inter/inter-Regular.ttf");
}
:root {
  --border:red;
  --primary: #0C68F4;
  --secondary: #F45E0C;
  --black: #0C0C0C;
  --white: #fff;
  --app_font: "inter-regular";
  --inter: "inter-regular";
}

.svg_icon {
  min-height: 20px;
  min-width: 20px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: black;
}

body,
html {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: var(--app_font);
}

img,
label,
a,
i,
span {
  display: inline-block;
}

a {
  text-decoration: none;
  font-size: 12px;
  transition-duration: 0.3s;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: left;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  list-style: none;
  font-size: 22px;
  line-height: 32px;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
p.p2 {
  font-size: 24px;
  line-height: 34px;
}

header,
nav,
div,
section,
aside,
main,
footer {
  box-sizing: border-box;
}

h1 {
  font-size: 90px;
  line-height: 100px;
}

h2 {
  font-size: 48px;
  line-height: 58px;
}

h3 {
  font-size: 22px;
  line-height: 32px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.container {
  width: 1400px;
  margin: auto;
  padding: 0px 15px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .container {
    width: calc(100% - 30px);
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .container {
    width: 546px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .container {
    width: 738px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .container {
    width: 962px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

nav .nav_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 18px 0px;
}
nav .nav_body .logo {
  height: 65px;
}
nav .nav_body .menu ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  gap: 65px;
}
nav .nav_body .menu ul li a {
  font-size: 18px;
  color: var(--black);
  position: relative;
}
nav .nav_body .menu ul li a::after {
  content: "";
  height: 2px;
  width: 0px;
  position: absolute;
  left: -10px;
  bottom: -10px;
  background: var(--gradient-linear-stroke-bottom, linear-gradient(147deg, rgba(12, 104, 244, 0.3) 60.98%, rgba(12, 104, 244, 0.7) 81.93%, rgba(12, 104, 244, 0.3) 99.45%));
  background-position: center center;
  transition-duration: 0.3s;
}
nav .nav_body .menu ul li a:focus, nav .nav_body .menu ul li a:hover {
  color: var(--primary);
}
nav .nav_body .menu ul li a:focus::after, nav .nav_body .menu ul li a:hover::after {
  width: calc(100% + 20px);
}
nav .nav_body .action_menues ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  gap: 25px;
}
nav .nav_body .action_menues ul li {
  position: relative;
}
nav .nav_body .action_menues ul li a .svg_icon {
  transition-duration: 0.3s;
}
nav .nav_body .action_menues ul li a:hover .svg_icon {
  background-color: var(--primary);
}
nav .nav_body .action_menues ul li:has(.active) > a .svg_icon {
  background-color: var(--primary);
}

#product_category_jumbo_menu {
  background: rgba(0, 0, 0, 0.575);
  height: calc(100vh - 103px);
  transition-duration: 0.3s;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100vw;
  top: 103px;
}
#product_category_jumbo_menu.active {
  opacity: 1;
  visibility: visible;
}
#product_category_jumbo_menu .product_list_menu {
  border-top: 1px solid var(--primary);
}
#product_category_jumbo_menu .product_list_menu .overlay {
  background-color: var(--white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories {
  display: flex;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .category_list {
  width: 290px;
  border-right: 1px solid #9E9E9E;
  padding: 24px 16px;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .category_list ul li {
  margin-bottom: 16px;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .category_list ul li a {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--black);
  font-size: 18px;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .category_list ul li a .svg_icon {
  height: 24px;
  width: 24px;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .category_list ul li a:hover {
  color: var(--primary);
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .subcategory_list {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .subcategory_list .subcategories {
  width: 260px;
  padding: 24px 16px;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .subcategory_list .subcategories ul li {
  margin-bottom: 16px;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .subcategory_list .subcategories ul li a {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--black);
  font-size: 18px;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .subcategory_list .subcategories ul li a .svg_icon {
  height: 24px;
  width: 24px;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .subcategory_list .subcategories ul li a:hover {
  color: var(--primary);
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .subcategory_list .subcategories ul li .view_all {
  color: var(--primary);
  font-size: 16px;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .subcategory_list .top_products {
  flex: 1;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .subcategory_list .top_products .close {
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .subcategory_list .top_products .close a {
  background-color: var(--primary);
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 3px;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .subcategory_list .top_products .nav_product_items {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  padding: 24px;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .subcategory_list .top_products .nav_product_items .nav_product {
  width: 150px;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.356);
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .subcategory_list .top_products .nav_product_items .nav_product img {
  margin-bottom: 16px;
}
#product_category_jumbo_menu .product_list_menu .overlay .product_categories .subcategory_list .top_products .nav_product_items .nav_product a h4 {
  font-size: 16px;
  color: var(--black);
  font-weight: 400;
}

.user_drop_down_actions {
  position: absolute;
  top: calc(100% + 39px);
  right: 0;
  width: 230px;
  background-color: white;
  padding: 16px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 1px 3px 10px -2px rgba(12, 104, 244, 0.5490196078);
  border-top: 2px solid var(--primary);
  display: none;
  z-index: 9;
}
.user_drop_down_actions.active {
  display: block;
}
.user_drop_down_actions ul {
  display: grid;
  gap: 24px;
}
.user_drop_down_actions ul li a {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}
.user_drop_down_actions ul li a:hover .content h4, .user_drop_down_actions ul li a:hover .content p {
  color: var(--primary);
}
.user_drop_down_actions ul li a .content h4 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 9px;
  line-height: 18px;
  font-weight: 300;
}
.user_drop_down_actions ul li a .content h4.block {
  color: var(--primary);
}
.user_drop_down_actions ul li a .content p {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
}

/*# sourceMappingURL=app.css.map */
